---
type: foo
thread: 10
interval: 20sec
plugin: plugin/foo
target:
  ## cluster example
  cluster1:
    paramA: A
    paramB: B
  
  ## 1 cluster batch into 2 threads
  cluster2:
    - class: "2-1"
      paramA: "2-1A" 
    - class: "2-2"
      paramA: "2-2A" 

  ## node example
  NODE:
    node1:
      paramA: "n1A"

