---
- name: ERROR
  interval: 1min
  condition:
    label: down
    level: 0
  policy:
    default:
      - count: 1-4:3
        reciver: reciverA@mail.com
      - count: 5-15:2
        reciver: reciverB@mail.com
      - count: 16-*:2
        reciver: reciverC@mail.com

- name: CLUSTER1_LEVEL_ZERO
  interval: 30sec
  condition:
    level: 0
    cluster: cluster1
  policy:
    default:
      - count: 1-*:1
        reciver: 12345678900
